<footer>

        <div class="container">
            <div class="row">
                <p>Works with <i class="fab fa-firefox" title="Firefox" style="margin-right:5px;"></i><i class="fab fa-chrome" aria-hidden="true" title="Chrome" style="margin-right:5px;"></i> <i class="fab fa-edge" aria-hidden="true" title="Edge" style="margin-right:5px;"></i><i class="fab fa-safari" aria-hidden="true" title="Safari" style="margin-right:5px;"></i> on <i class="fas fa-mobile-alt" aria-hidden="true" title="Mobile" style="margin-right:5px;"></i><i class="fas fa-tablet-alt" aria-hidden="true" title="Tablet" style="margin-right:5px;"></i><i class="fas fa-laptop" aria-hidden="true" title="Laptop" style="margin-right:5px;"></i><i class="fas fa-desktop" aria-hidden="true" title="Desktop"></i>. Internet Explorer is <strong>NOT</strong> supported.</p>
            </div>
        </div>

</footer>

